* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  max-width: 300px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#gameboard {
  width: 300px;
  height: 300px;
  border: 2px solid blue;
  margin-bottom: 50px;
}

.line {
  width: 100%;
  height: calc(100%/3);
  display: flex;
}

.line2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.column {
  width: 100px;
  height: 100%;
  background-color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 75px;
}

.column2 {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.buttonsBox {
  flex-flow: row wrap;
}

button.playAgain {
  width: 125px;
  height: 50px;
  background-color: rgb(26, 80, 243);
  border-color: blue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
}

button.startBot {
  width: 125px;
  height: 50px;
  background-color: rgb(253, 140, 33);
  border-color: rgb(255, 81, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.buttonsBox button:hover {
  cursor: pointer;
}

.buttonsBox button:active {
  transform: scale(0.9);
}